/* header styles */
.container{
    width: 1300px;
    margin: 0 auto;
    background-color: #2B2B2B

}
.clearfix{
    clear: both;
}
b
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family:sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    color: #fff;
    background-color:#2B2B2B ;
}
.logo{
    color:#fff;
    letter-spacing: 3px;
    font-size: 30px;
}
.logo img{
    position: relative;
    top: 47px;
    right: 30px;
}
.logo h4{
    font-size: 25px;
    position: relative;
    top: -20px;
    right: -20px;
}
.nav-links{
    display: flex;
    justify-content:space-around;
    width: 45%;
    }
   
    
    .nav-links li{
        list-style: none;
       
    }
    .nav-links li a{
        color: #fff;
        text-decoration: none;
        letter-spacing: 1px;
    }
    .nav-links span{
        position: relative;
        right: -30px;
        top: -15px;
        border: 1px solid #fff;
        padding: 7px 12px;
        border-radius: 15px;
        background-color: 
        #A259FF;
        border: none;
        text-transform: uppercase;
        font-size: 13px;
        text-align: center;
        
    }
    .burger{
        cursor: pointer;
        display: none;

    }
    .burger div{
        height: 3px;
        width: 25px;
        background-color: #fff;
        max: resolution 5px;
        margin: 5px;
    }
    @media (min-width: 0) and (max-with: 1024px){
        .nav-links {
            width: 50%;
        }
    }
    @media screen and (max-width: 768px){
        body{
            overflow-x: hidden;
        }
      .nav-links{
        margin-top: 0;
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #2B2B2B;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
      }
      .nav-links li{
       
      }
      .burger{
        display: block;
      }
    }
    .second-section{
        background-color:#2B2B2B;
    }
    .img-section-3{
        position: relative;
        right: -500px;
        text-align:left;
    }
    .second-section{
        display: flex;
    }
    .text-section{
        display: flex;
        margin-top: 30px;
        line-height: 30px;
        position: relative;
        right: -85px;
    }
    /* .text-section >div{
        width: 70%;
        float: left;
 */
   .text-section h1{
        color: #fff;
        display: block;
    }
    .text-section h5{
        color: darkgrey;
    }
    .text-section h4{
        color: grey;
        font-size: 20px;
        text-transform: uppercase;

    }
    .text-section span{
        color: #fff;
    }
    .text-long{
        color: #fff;
        display:block;
       
    }
   .text_section-bottom{
        background-color: #494747;
        border: none;
        position: relative;
        top: 10px;
        margin: 20px;
        font-size: 16px;
        font-weight: 600;
        padding: 9px 22px;
        border-radius: 20px;
       
    }
    .text_number-section{
        display: flex;
       
        
    }
    .text_section-right{
        position: relative;
        right: -390px;
       border-radius: 12px;
       }
    .text_number-section{
        position: relative;
        top: 30px;
        font-size: 35px;
        letter-spacing: 10px;
       }
       .text_section-rightbottom{
        position: relative;
        top: 70px;
        font-size: 18px;
         color:#fff;
        background-color:#A259FF ;
        padding: 16px 70px;
        border-radius: 15px;

       }
       .div{
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 30px;
        right: 5px;
       }
       /* first_section-lastpart */
        .cards{
        position: relative;
        top: 40px;
        right: -85px;
        max-width: 400px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        font-family: sans-serif;
       
         }
       .card{
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1 );
      
       }
       .card__image{
        width: 100%;
        display: block;
       
        
        }
       .card__content{
         background-color:#3b3b3b;
         margin-top: -45px
        ;
        }
       .card__content h3{
        top: 45px;
        position: relative;
        right: -20px;
        font-family: 'Times New Roman', Times, serif;
        color: #fff;
        text-transform: capitalize;
        font-size: 22px;
        font-weight: 600;
        line-height: 30.8px;
       }
       .card__content h6{
        color:gray;
        position: relative;
        top: -15px;
        right: -55px;
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
       }
       .card__content img{
        position: relative;
        right: -20px;
        top: 40px;
       }
       .card_info{
        top: -18px;
        position: relative;
         padding: -10px;
        display: flex;
        justify-content: space-around;
        background-color:#3b3b3b;
       }
       .card_info h5{
        width:114px ;
        font-weight: 400;
        line-height: 13.2px;
        font-size: 12px;
        color:#858584;
       }
       .card_info h4{
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        color: #fff;
       }
       /* section_foooter */
       .footer_section{
        background-color: #3b3b3b;
        position: relative;
        top: 80px;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        gap: 100px;
        padding-bottom: 70px;
        padding: 30px;
       }
       .first_content-part{
        position: relative;
        right: -87px;
        top: -15px;
       } 
       .footer_section span{
        color: #fff;
       }
       .footer_section p{
        color: #858584; }
       .first_content-part h3{
        position: relative;
        top: -40px;
        color: #858584;
        font-family: 'Times New Roman', Times, serif;
       }
       .footer_icons{
        position: relative;
        top: -50px;
        
        size: 17px;
        font-size: 2px;
       }
       .footer_section input{
        padding: 8px 18px;
        border: none;
        border-radius: 15px;
        color: #494747;
        text-transform: capitalize;

       }
       .footer_section button{
        position: relative;
        right: 36px;
        padding: 9px 13px;
        border-radius: 15px;
        background-color:#a259ff ;
        border: none;
        color: #fff;
       }
       /* second_sections' Page */
       .second_page-section{
        padding: 200px 0px;
        }
       nav{
        background-color:#3b3b3b;
       }
       .after_nav-section{
        position: relative;
        top: 20px;
        right: -95px;

       }
       .after_nav-section h1{
        color: #fff;
        font-size: 51px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 300;
       }
       .depended{
        color:#eee;
        font-size: 22px;
        font-weight: 400;
        position: relative;
        top: -20px;
      }
      .after_nav-section-input{
        padding: 10px 250px;
        border-radius:20px;
        border: none;
        background-color: #3b3b3b;
        }
        .after_nav-section-img{
         position: relative;
        right: 40px;
         bottom: -7px;
          }
      .after_nav_main-section{
        position: relative;
        top: 60px;
          }
      .after_nav_nav{
        display:flex;
        justify-content: space-around;
     }  
     .after_nav_nav span{
        color: #858584;
        font-size: 22px;
        font-weight: 600;
     }
     .after_nav_nav button{
        padding: 7px 8px;
        border-radius: 50px;
        color: #fff;
        background-color: #494747;

     }
     /* Last section Pages */
     .last_page-section{
        position: relative;
        top: 70px;
        padding-bottom: 100px;
     }
     .last_page-section-nav{
        position: relative;
        }
    .bottom{
        display: flex;
        justify-content: space-around;
    }
    .bottom{
        border: 1px solid #858584;
        padding: 5px 0px;
        border-radius: 20px;
        position: relative;
        top: 70px;
        color:#494747;
        font-size: 18px;
        line-height: 22.4px;
        gap: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .last_main-section{
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 100px;
        margin-left: 50px;
        margin-right: 50px;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 20px;
        background-color: #494747;
        color: #fff;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
        margin-bottom: 70px;
        
    }
    .last_main-number{
        position: relative;
        right: 50px;
        bottom: -18px;
        font-size:16px;
    }
    .last_main-section img{
        position: relative;
        right: 120px;
    }
   
    .last_section-content{
        position: relative;
        top: 15px;
        right: 180px;
    }
    .last_section-present{
        position: relative;
        top: 15px;
        right: 180px;
        color: green;
    }
    .last_section-number{
        position: relative;
        top: 15px;
        right: 70px;
        

    }
   
   
         
       
       
     
       
       
        
   
        
    